/* Error: expected "{".
 *     ,
 * 177 | 100% ширины не у инпута нужно ставить, а у обёртки инпута
 *     |                                                          ^
 *     '
 *   styles/blocks/form/_index.scss 177:58  @use
 *   styles/style.scss 19:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 177 \2502  100% \448 \438 \440 \438 \43d \44b  \43d \435  \443  \438 \43d \43f \443 \442 \430  \43d \443 \436 \43d \43e  \441 \442 \430 \432 \438 \442 \44c , \430  \443  \43e \431 \451 \440 \442 \43a \438  \438 \43d \43f \443 \442 \430 \a     \2502                                                           ^\a     \2575 \a   styles/blocks/form/_index.scss 177:58  @use\a   styles/style.scss 19:1                 root stylesheet';
}
