/* Error: expected "{".
 *     ,
 * 100 | Сделать отдельные темы для форм
 *     |                                ^
 *     '
 *   styles/blocks/online-control/_index.scss 100:32  @use
 *   styles/style.scss 18:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 100 \2502  \421 \434 \435 \43b \430 \442 \44c  \43e \442 \434 \435 \43b \44c \43d \44b \435  \442 \435 \43c \44b  \434 \43b \44f  \444 \43e \440 \43c \a     \2502                                 ^\a     \2575 \a   styles/blocks/online-control/_index.scss 100:32  @use\a   styles/style.scss 18:1                           root stylesheet';
}
