/* yeseva-one-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Yeseva";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/yeseva/yeseva-one-v20-cyrillic_latin-regular.woff2") format("woff2"), url("../../fonts/yeseva/yeseva-one-v20-cyrillic_latin-regular.woff") format("woff");
}
/* nunito-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/nunito/nunito-sans-v15-cyrillic_latin-regular.woff2") format("woff2"), url("../../fonts/nunito/nunito-sans-v15-cyrillic_latin-regular.woff") format("woff");
}
/* nunito-sans-italic - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/nunito/nunito-sans-v15-cyrillic_latin-italic.woff2") format("woff2"), url("../../fonts/nunito/nunito-sans-v15-cyrillic_latin-italic.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

.text {
  font-family: "Nunito";
  color: white;
}

.button {
  background-color: #E3B873;
  color: white;
  font-family: "Nunito";
  font-style: italic;
  border: none;
  border-radius: 2px;
}

.title {
  font-family: "Yeseva";
  font-size: 1.375rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  color: #E3B873;
  text-align: center;
}

.link {
  color: white;
  text-decoration: none;
}

.page__body {
  margin: 0;
  max-width: 375px;
  background-color: #181818;
  margin: 0 auto;
}
@media (min-width: 1256px) {
  .page__body {
    max-width: none;
    margin: none;
  }
}

.header {
  font-family: "Nunito";
  font-size: 11px;
  line-height: 15px;
  background-color: black;
}
@media (min-width: 375px) {
  .header {
    padding: 23px 18px 24px;
  }
}
@media (min-width: 1256px) {
  .header {
    padding: 24px 90px 22px 92px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 375px) {
  .header__wrapper {
    gap: 56px;
    justify-content: space-between;
  }
}
@media (min-width: 1256px) {
  .header__wrapper {
    gap: 0;
    max-width: 1300px;
  }
}
.header__logo {
  color: #E3B873;
  text-transform: uppercase;
  text-decoration: none;
}
.header__contacts {
  display: flex;
  gap: 45px;
  align-items: center;
}
.header__tel {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__tel {
    color: #E3B873;
    text-decoration: underline;
  }
}
.header__button {
  padding: 13px 33px;
  cursor: pointer;
}
@media (min-width: 375px) {
  .header__button {
    display: none;
  }
}
@media (min-width: 1256px) {
  .header__button {
    display: initial;
  }
}

.nav {
  font-family: "Nunito";
  font-size: 11px;
}
@media (min-width: 375px) {
  .nav {
    display: none;
  }
}
@media (min-width: 1256px) {
  .nav {
    display: initial;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
}
@media (min-width: 1256px) {
  .nav__list {
    display: flex;
    gap: 48px;
  }
}
.nav__item {
  list-style-type: none;
}
.nav__link_active {
  color: #E3B873;
}

@media (min-width: 375px) {
  .main__section {
    background: url("../images/photo/1/1-mobile.png") top left/100% no-repeat;
    padding: 85px 18px 61px;
  }
}

.section-presentation {
  line-height: 1.3;
}
@media (min-width: 375px) {
  .section-presentation__header {
    margin: 0 0 16px 0;
    font-family: "Yeseva";
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
  }
}
@media (min-width: 375px) {
  .section-presentation__name-city {
    color: #E3B873;
  }
}
.section-presentation__paragraph {
  font-size: 0.875rem;
  font-family: "Nunito";
  color: white;
  margin: 0 0 54px 0;
}
@media (min-width: 375px) {
  .section-presentation__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 26px;
  }
}
@media (min-width: 375px) {
  .section-presentation__button {
    font-size: 11px;
    padding: 19px 70px;
    text-transform: uppercase;
  }
}
.section-presentation__button_theme_application {
  background-color: transparent;
  border: 1px solid white;
  padding: 20px 22px;
}

.compl-projects {
  margin: 0 0 58px 0;
  padding: 36px 17px;
  text-align: center;
}
@media (min-width: 375px) {
  .compl-projects__list {
    display: none;
  }
}
.compl-projects__info {
  display: flex;
  flex-direction: column;
}
.compl-projects__title {
  margin: 0 auto 35px;
  width: 235px;
}
.compl-projects__paragraph {
  margin: 0 0 75px 0;
}
.compl-projects__description {
  order: 2;
}
.compl-projects__slider {
  margin: 0;
  position: relative;
  order: 1;
  margin-bottom: 36px;
}
.compl-projects__button {
  position: absolute;
  background-color: #E3B873;
  border: 0;
  border-radius: 30px;
}
.compl-projects__button_theme_previous {
  top: 40%;
  left: 14px;
  padding: 10px 15px 8px 13px;
}
.compl-projects__button_theme_next {
  top: 40%;
  right: 14px;
  padding: 10px 13px 8px 15px;
}
.compl-projects__description {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.description__item {
  font-family: "Yeseva";
  font-size: 0.875rem;
  font-weight: normal;
  color: #E3B873;
  list-style: none;
  margin: 0 0 36px 0;
}
.description__item:nth-last-of-type(-n+2) {
  margin: 0;
}
.description__paragraph {
  margin: 18px 0 0 0;
}

.online-control {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-control__title {
  margin-bottom: 20px;
}
.online-control__title_theme_white {
  color: white;
}
.online-control__image {
  margin-bottom: 40px;
}
.online-control__video {
  margin: 0 auto;
  position: relative;
}
.online-control__button {
  position: absolute;
  background-color: #E3B873;
  border: 0;
  border-radius: 30px;
  padding: 10px 11px 8px 13px;
}
.online-control__button_theme_play {
  position: absolute;
  top: 42%;
  left: 45%;
}

/*# sourceMappingURL=style.css.map */
