@use '../../global/variables' as *;

.types-of-repair {
    background-color: white;
    padding: 83px 18px 0;

    &__header {
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $screen-xl) {
            flex-direction: row;
            gap: 30px;
            justify-content: center;
        }
    }

    &__title {
        margin-bottom: 17px;

        &_theme_black {
            color: black;
        }

        &_margin_none {
            margin: 0;
        }
    }

    &__card {
        margin-bottom: 178px;
    }

    &__fantasies {
        position: relative;

        @media (min-width: $screen-xl) {
            display: none;
        }
    }
    
    &__slider {
        margin: 0;
        top: 189%;
        position: absolute;
    }
}
