@use '../../global/variables' as *;

.fantasies {

    background: url(../images/photo/fantasies/5.png) left top / 100% no-repeat;
    object-fit: cover;
    height: 864px;

    &__wrapper {
        display: flex;
        gap: 77px;
    }

    &__section {
        flex-basis: 380px;
        padding: 138px 0 98px;
    }

    &__header {
        font-family: $font-family-heading;
        font-weight: normal;
        font-size: 27px;
        color: $color-middle-yellow;
        text-transform: uppercase;
        margin: 0 0 47px 0;
    }

    &__gallery {
        position: relative;
        top: -110px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 1020px;
        gap: 40px;
        margin: 0;
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style-type: none;
        margin-bottom: 25px;

        &_margin_none {
            margin: 0;
        }
    }

    &__link {
        font-family: $font-family-text;
        font-size: 20px;
        color: white;
        text-decoration: none;

        &:hover {
            color: $color-middle-yellow;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 5px;
        }
    }

    &__image {
        max-width: 100%;

        &_padding-top_60 {
            padding-top: 60px;
        }
    }
}