@use '../../global/variables' as *;

.description {
    &__item {
        font-family: "Yeseva";
        font-size: .875rem;
        font-weight: normal;
        color: $color-middle-yellow;
        list-style: none;
        margin: 0 0 36px 0;

        &:nth-last-of-type(-n+2) {
            margin: 0;
        }
    }

    &__paragraph {
        margin: 18px 0 0 0;
    }
}
