@use '../../global/variables' as *;

.description {
    &__item {
        font-family: "Yeseva";
        font-weight: normal;
        color: $color-middle-yellow;
        list-style: none;
        text-transform: uppercase;

        @media (min-width: $screen-es) {
            font-size: .875rem;
            margin: 0 0 36px 0;
        }

        @media (min-width: $screen-xl) {
            font-size: 1.125rem;
            margin: 0;
        }

        &:nth-last-of-type(-n+2) {
            margin: 0;
        }
    }

    &__paragraph {
        text-transform: initial;

        @media (min-width: $screen-es) {
            margin: 18px 0 0 0;
            font-size: .6875rem;
        }

        @media (min-width: $screen-es) {
            margin: 9px 0 0 0;
            font-size: .8125rem;
        }
    }
}
