@use '../../global/variables' as *;

.footer {
    font-family: "Nunito";
    font-size: 11px;
    line-height: 15px;

    @media (min-width: $screen-es) {
        display: none;
    }

    @media (min-width: $screen-xl) {
        display: block;
        padding: 24px 90px 22px 92px;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @media (min-width: $screen-es) {
            gap: 56px;
            justify-content: space-between;
        }

        @media (min-width: $screen-xl) {
            gap: 0;
        }
    }

    &__logo {
        color: $color-middle-yellow;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__contacts {
        display: flex;
        gap: 45px;
        align-items: center;
    }

    &__tel {
        color: white;
        text-decoration: none;

        @media (min-width: 768px) {
            color: $color-middle-yellow;
            text-decoration: underline;
        }
    }

    &__button {
        padding: 13px 33px;
        cursor: pointer;
        
        @media (min-width: $screen-es) {
            display: none;
        }

        @media (min-width: $screen-xl) {
            display: initial;
        }
    }
}