@use '../../global/variables' as *;

.compl-projects {
    padding: 36px 17px;
    text-align: center;

    &__list {
        @media (min-width: 375px) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 35px;
    }

    &__paragraph {
        color: white;
    }
}