// Основные цвета
$color-middle-yellow: #E3B873;
$color-shark-fin: #959595;

// Основные размеры
$font-size_main-text: 0.7rem;

// Шрифты
$font-family-text: 'Nunito', sans-serif;
$font-family-heading: 'Yeseva', sans-serif;