@use '../../global/variables' as *;

.online-control {
    align-items: center;
    text-align: center;

    @media (min-width: $screen-es) {
        display: flex;
        flex-direction: column;
        padding: 0 18px 88px;
    }

    @media (min-width: $screen-xl) {
        position: relative;
        background-color: white;
        padding: 270px 243px 148px;
    }

    &__header {
        @media (min-width: $screen-xl) {
            position: absolute;
            top: -344px;
        } 
    }

    &__title {
        margin-bottom: 20px;

        &_theme_white {
            color: white;
        }
    }

    &__image {
        margin-bottom: 40px;
    }

    &__video {
        margin: 0 auto 28px;
        position: relative;
    }

    &__button {
        position: absolute;
        background-color: $color-middle-yellow;
        border: 0;

        @media (min-width: $screen-es) {
            border-radius: 30px;
            padding: 10px 11px 8px 13px;
        }

        @media (min-width: $screen-xl) {
            border-radius: 60px;
            padding: 28px 30px 27px 35px;
        }

        &_theme_play {
            position: absolute;
            top: 42%;
            left: 45%;
        }
    }

    &__hr {
        margin-bottom: 35px;
    }

    &__paragraph {
        @media (min-width: $screen-es) {
            margin: 0 0 63px 0;
        }

        @media (min-width: $screen-xl) {
            margin: 0 auto 94px;
            line-height: 2.06;
            color: $color-jet;
            width: 681px;
        }
    }

    &__form {
        
        @media (min-width: $screen-es) {
            display: flex;
            flex-direction: column;
            position: relative;

            &.form_theme_white {
                display: none;
            }
        }

        @media (min-width: $screen-xl) {
            display: grid;
            grid-template-columns: repeat(2, 1fr) 200px;
            row-gap: 38px;
            column-gap: 50px;
            align-items: center;

            &.form_theme_dark {
                display: none;
            }
    
            &.form_theme_white {
                display: grid;
            }
        }
    }
}
