@use '../../global/variables' as *;

.form {
    font-family: "Nunito";
    width: 100%;
    &__wrapper {
        @media (min-width: $screen-es) {
            margin-bottom: 63px;
            text-align: left;
            position: relative;
        }

        @media (min-width: $screen-xl) {
            margin: 0;
        }

        @media (min-width: $screen-es) {
            &_margin-bottom_27px {
                margin-bottom: 27px;
            }
        }

        @media (min-width: $screen-xl) {
            &_margin-bottom_27px {
                margin-bottom: 0;
            }
        }

        &_margin-bottom_68px {
            margin-bottom: 68px;
        }

        &_margin_none {
            margin: 0;
        }

        &_order_0 {
            order: 0;
        }

        &_grid-span {
            grid-column: span 3;
            justify-self: center;
        }
    }

    &__label {
        font-size: 13px;

        @media (min-width: $screen-es) {
            color: rgba(255, 255, 255, 0.5);
        }

        @media (min-width: $screen-xl) {
            display: block;
            color: rgba(54, 54, 54, 0.5);
        }
    }
    
    &__checkbox {
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: $color-middle-yellow;
        border-radius: 1px;
        box-shadow: 0 0 0 0.1em $color-middle-yellow;
        margin-top: -4px;

        &_theme_custom-check {
            appearance: none;
            position: absolute;
        }
        
        &:checked {
            background-image: url("../images/svg/checked.svg");
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }

    &__span {
        padding-left: 2rem;
        font-size: .875rem;

        @media (min-width: $screen-es) {
            color: white;
        }

        @media (min-width: $screen-xl) {
            color: #181818;
        } 
    }

    &__button {
        font-family: "Nunito";
        font-size: 13px;
        font-style: normal;
        text-transform: uppercase;

        @media (min-width: $screen-es) {
            padding: 20px 124px;
            top: 260px;
            position: absolute;
            width: 100%;
            order: 1;
        }

        @media (min-width: $screen-xl) {
            padding: 20px 75px 15px;
            position: static;
            order: 0;
        }
    }

    &_margin-bottom_46px {
        margin-bottom: 46px;
    }
}