@use '../../global/variables' as *;

.form {
    font-family: "Nunito";
    text-align: left;
    
    @media (min-width: $screen-es) {
        &_theme_dark {
            .form__label {
                color: rgba(255, 255, 255, 0.5);
            }
    
            .form__input {
                padding-bottom: 8px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    
                &::placeholder {
                    color: white;
                }
            }
    
            .form__span {
                color: white;
            }
        }

        &_margin-bottom_164px {
            margin-bottom: 164px;
        }
    }

    @media (min-width: $screen-xl) {
        &_theme_white {
            .form__label {
                color: rgba(54, 54, 54, 0.5);
            }
    
            .form__input {
                padding-bottom: 8px;
                border-bottom: 2px solid #3636364D;
    
                &::placeholder {
                    color: $color-jet;
                }
            }
    
            .form__span {
                color: #181818;
            }
        }

        &_theme_dark {
            .form__input {
                border-bottom: 2px solid #FFFFFF24;
            }
        }


        &_margin-bottom_164px {
            margin-bottom: 0;
        }
    }

    &__wrapper {
        @media (min-width: $screen-es) {
            margin-bottom: 63px;

            &_margin_auto {
                margin: 0 auto;
            }

            &_margin_none {
                margin: 0;
            }

            &_margin-bottom_27px {
                margin-bottom: 27px;
            }
        }

        @media (min-width: $screen-xl) {
            &_margin_none {
                margin: 0;
            }

            &_margin_auto {
                margin: 0 auto;
            }

            &_margin-bottom_47px {
                margin-bottom: 47px;
            }

            &_margin-bottom_50px {
                margin-bottom: 50px;
            }
        }
        
        &_margin-bottom_68px {
            margin-bottom: 68px;
        }

        &_margin-bottom_39px {
            margin-bottom: 39px;
        }

        &_order_0 {
            order: 0;
        }

        &_grid-span {
            grid-column: span 3;
            justify-self: center;
        }

        &_position_relative {
            position: relative;
        }

        &_flex_column {
            display: flex;
            flex-direction: column;
        }

        &_align-self_center {
            align-self: center;
        }

        &_width_100 {
            width: 100%;
        }
    }

    &__label {
        font-size: 13px;

        &_display_block {
            display: block;
        }
    }

    &__input {
        background-color: transparent;
        border: none;
        width: 100%;

        &::placeholder {
            font-size: .875rem;
        }

        &_width_231px {
            width: 231px;
        }
    }
    
    &__checkbox {
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: $color-middle-yellow;
        border-radius: 1px;
        box-shadow: 0 0 0 0.1em $color-middle-yellow;
        margin-top: -4px;

        &_theme_custom-check {
            appearance: none;
            position: absolute;
        }
        
        &:checked {
            background-image: url("../images/svg/checked.svg");
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }

    &__span {
        padding-left: 2rem;
        font-size: .875rem;
    }

    &__button {
        font-family: "Nunito";
        font-size: 13px;
        font-style: normal;
        text-transform: uppercase;

        @media (min-width: $screen-es) {
            padding: 20px 124px;
            width: 100%;
            order: 1;

            &_top_275px {
                top: 275px;
            }

            &_top_365px {
                top: 365px;
            }

            &_position_absolute {
                position: absolute;
            }
        }

        @media (min-width: $screen-xl) {
            padding: 20px 75px 15px;
            order: 0;
        }

        &_theme_have-any-question {
            @media (min-width: $screen-es) {
                width: 340px;
                height: 51px;
                padding: 20px 54px;
                margin-bottom: 65px;
            }

            @media (min-width: $screen-xl) {
                width: 200px;
                height: 51px;
                padding: 20px 54px;
            }
        }
        &_theme_call {
            width: 213px;
            height: 51px;
            padding: 19px 21px 19px 22px;
            align-self: flex-end;
        }
    }
}