@use '../../global/variables' as *;

.input {
    background-color: transparent;
    border: none;
    
    @media (min-width: $screen-es) {
        width: 100%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    }

    @media (min-width: $screen-xl) {
        width: 231px;
        border-bottom: 2px solid #3636364D;
    }

    &::placeholder {
        font-size: .875rem;

        @media (min-width: $screen-es) {
            color: white;
        }

        @media (min-width: $screen-es) {
            color: $color-jet;
        }
    }
}