div.compl-projects
    div.compl-projects__wrapper.wrapper
        ul.compl-projects__list
            li.compl-projects__item
                a.compl-projects__link.compl-projects__link_active(href="#") Rostov-on-Don, Admiral
            li.compl-projects__item 
                a.compl-projects__link(href="#") Sochi thieves
            li.compl-projects__item 
                a.compl-projects__link(href="#") Rostov-on-Don, Patrotic
        section.compl-projects__info
            h2.compl-projects__title.title 
                | Completed 
                | Projects
            p.compl-projects__paragraph.text
                | Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction 
                | market we have made happy more than 1000 families
            figure.compl-projects__slider.slider
                img.slider__image(src="../images/photo/2/2-mobile.png" alt="Пример комнаты")
                button.slider__button.slider__button_theme_previous(type="button")
                    img.slider__svg(src="../images/svg/previous-arrow.svg")
                button.slider__button.slider__button_theme_next(type="button")
                    img.slider__svg(src="../images/svg/next-arrow.svg")
            ul.compl-projects__description.description
                li.description__item City:
                    p.description__paragraph.text Rostov-on-Don #[br] LCD admiral
                li.description__item Apartment Area:
                    p.description__paragraph.text 81 m2
                li.description__item Repair Time:
                    p.description__paragraph.text 3.5 months
                li.description__item Repair Cost:
                    p.description__paragraph.text Upon request
            div.compl-projects__switch-menu.switch-menu
                button.switch-menu__button.switch-menu__button_theme_previous(type="button")
                    img.switch-menu__svg(src="../images/svg/long-previous-arrow.svg")
                ul.switch-menu__list
                    li.switch-menu__item.switch-menu__item_active
                    li.switch-menu__item
                    li.switch-menu__item
                button.switch-menu__button.switch-menu__button_theme_next(type="button")
                    img.switch-menu__svg(src="../images/svg/long-next-arrow.svg")
        img.compl-projects__image(src="../images/photo/2/2-large.png" alt="Пример команты")
    div.test



