div.compl-projects
    ul.compl-projects__list
        li.compl-projects__item 
            a.compl-project__link.compl-project__link_active(href="#") Rostov-on-Don, Admiral
        li.compl-projects__item 
            a.compl-project__link(href="#") Sochi thieves
        li.compl-projects__item 
            a.compl-project__link(href="#") Rostov-on-Don, Admiral
    section.compl-projects__info
        h2.compl-projects__title.title 
            | Completed 
            | Projects
        p.compl-projects__paragraph.text
            | Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction 
            | market we have made happy more than 1000 families
        ul.compl-projects__description.description
            li.description__item City:
                p.description__paragraph.text Rostov-on-Don LCD admiral
            li.description__item Apartment Area:
                p.description__paragraph.text 81 m2
            li.description__item Repair Time:
                p.description__paragraph.text 3.5 months
            li.description__item Repair Cost:
                p.description__paragraph.text Upon request
        figure.compl-projects__slider
            img.compl-projects__image(src="../images/photo/2/2.png" alt="Пример комнаты")
            button.compl-projects__button.compl-projects__button_theme_previous(type="button")
                img.compl-projects__(src="../images/svg/previous-arrow.svg")
            button.compl-projects__button.compl-projects__button_theme_next(type="button")
                img(src="../images/svg/next-arrow.svg")

        