div.compl-projects
    ul.compl-projects__list
        li.compl-projects__item 
            a.compl-project__link.compl-project__link_active(href="#") Rostov-on-Don, Admiral
        li.compl-projects__item 
            a.compl-project__link(href="#") Sochi thieves
        li.compl-projects__item 
            a.compl-project__link(href="#") Rostov-on-Don, Admiral
    section.compl-projects__info
        h2.compl-projects__title.title 
            | Completed 
            | #[br]
            | Projects
        p.compl-projects__paragraph.text
            | Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction 
            | market we have made happy more than 1000 families
        ul.compl-projects__description.description-list
            li.description__item City:
                p.description__paragraph.text Rostov-on-Don LCD admiral
            li.description__item Apartment Area:
                p.description__paragraph.text 81 m2
            li.description__item Repair Time:
                p.description__paragraph.text 3.5 months
            li.description__item Repair Cost:
                p.description__paragraph.text Upon request
        