div.fantasies
    div.fantasies__wrapper.wrapper
        section.fantasies__section
            h2.fantasies__header We realize your wildest fantasies
            ul.fantasies__list
                li.fantasies__item
                    a.fantasies__link(href="#") American classic
                li.fantasies__item
                    a.fantasies__link(href="#") Empire
                li.fantasies__item
                    a.fantasies__link(href="#") Classical
                li.fantasies__item
                    a.fantasies__link(href="#") Loft
                li.fantasies__item
                    a.fantasies__link(href="#") Minimalism
                li.fantasies__item
                    a.fantasies__link(href="#") Provence
                li.fantasies__item
                    a.fantasies__link(href="#") Romanticism
                li.fantasies__item
                    a.fantasies__link(href="#") Scandinavian style
                li.fantasies__item
                    a.fantasies__link(href="#") Mediterranean style
                li.fantasies__item
                    a.fantasies__link(href="#") High tech
                li.fantasies__item.fantasies__item_margin_none
                    a.fantasies__link(href="#") Eclecticism
        figure.fantasies__gallery
            img.fantasies__image.fantasies__image_padding-top_60(src="../images/photo/fantasies/1.png")
            img.fantasies__image(src="../images/photo/fantasies/3.png")
            img.fantasies__image(src="../images/photo/fantasies/2.png")
            img.fantasies__image(src="../images/photo/fantasies/4.png")

            
        
