img.questions__image.questions__image_margin-bottom_42px(src="../images/photo/map.png")
    p.questions__title.questions__title_margin-bottom_24px.title
        | Rostov-on-Don, Nansen St., 239 Shopping Center Decorum 
        | Tel +7 (928) 768 32 29
    div.social-links
        a.social-links__link(href="#")
            img.social-links__img(src="../images/svg/email.svg")
        a.social-links__link(href="#")
            img.social-links__img(src="../images/svg/inst.svg")