div.online-control
    h2.online-control__title.online-control__title_theme_white.title Online control
    img.online-control__image(src="../images/svg/camera.svg" width="114" height="28")
    figure.online-control__video
        img.online-control__preview(src="../images/photo/3/3-mobile.png" alt="Пример комнаты")
        button.online-control__button.online-control__button_theme_play(type="button")
            img.online-control__(src="../images/svg/play.svg")