section.our-clients
    div.our-clients__header
        h2.our-clients__title.our-clients__title_theme_black.title Our clients
        img.our-clients__image(src="../images/svg/handshake.svg" width="114" height="28")
        p.our-clients__statistics 80% of our customers recommend us to their friends and family.
    div.our-clients__wrapper
        div.our-clients__card.card
            div.card__person
                img.card__photo(src="../images/photo/our-clients/Fedosova.png")
                p.card__full-name Fedosova Maria Konstantinovna
            div.card__review
                p.card__paragraph.card__paragraph_margin-bottom_18
                    | I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project 
                    | to Georgia for its professionalism and approach.
                p.card__paragraph
                    | The repair process was turned out in terms, faster than anticipated. 
                    | Team mobile and professional. Works performed qualitatively without comments. 
                    | Quality satisfied. Prices democratic. I recommend these masters.
            div.card__project-data.text
                img.card__image-square(src="../images/svg/square.svg" alt="")
                p.card__paragraph-square 40 лю2
                img.card__delimiter(src="../images/svg/delimeter.svg" alt="")
                img.card__image-calendar(src="../images/svg/calendar.svg" alt="")
                p.card__paragraph-time 48 DAYS
        div.our-clients__card.card
            div.card__person
                img.card__photo(src="../images/photo/our-clients/Afanasyev.png")
                p.card__full-name Afanasyev Sergey Alexandrovich
            div.card__review
                p.card__paragraph.card__paragraph_margin-bottom_18
                    | I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project 
                    | to Georgia for its professionalism and approach.
                p.card__paragraph
                    | The repair process was turned out in terms, faster than anticipated. 
                    | Team mobile and professional. Works performed qualitatively without comments. 
                    | Quality satisfied. Prices democratic. I recommend these masters.
            div.card__project-data.text
                img.card__image-square(src="../images/svg/square.svg" alt="")
                p.card__paragraph-square 90 лю2
                img.card__delimiter(src="../images/svg/delimeter.svg" alt="")
                img.card__image-calendar(src="../images/svg/calendar.svg" alt="")
                p.card__paragraph-time 128 DAYS
        div.our-clients__card.card
            div.card__person
                img.card__photo(src="../images/photo/our-clients/Kiriev.png")
                p.card__full-name Kiriev Egor #[br] Leonidovich
            div.card__review
                p.card__paragraph.card__paragraph_margin-bottom_18
                    | I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project 
                    | to Georgia for its professionalism and approach.
                p.card__paragraph
                    | The repair process was turned out in terms, faster than anticipated. 
                    | Team mobile and professional. Works performed qualitatively without comments. 
                    | Quality satisfied. Prices democratic. I recommend these masters.
            div.card__project-data.text
                img.card__image-square(src="../images/svg/square.svg" alt="")
                p.card__paragraph-square 56 лю2
                img.card__delimiter(src="../images/svg/delimeter.svg" alt="")
                img.card__image-calendar(src="../images/svg/calendar.svg" alt="")
                p.card__paragraph-time 86 DAYS
