div.points
    div.points__wrapper.wrapper
        ul.points__list
            li.points__item.points__item_display_inline-flex
                | Our specialist will arrive for measurements per day #[br]
                | contact, or appoint a date convenient for you
            li.points__item
                | Free metering
            li.points__item
                | Free consultation
            li.points__item.points__item_display_inline-flex.points__item_margin_none
                | Get a cost estimate and #[br]
                | the timing of your future repairs
        section.points__section
            h2.points__header Leave a request for free #[br] departure of the measurer
            form.points__form.form.form_theme_dark
                div.form__wrapper
                    label.form__label(for="fullName") Name
                    input.form__input(type="text" id="fullName" name="fullName" placeholder="What is your name:")
                div.form__wrapper
                    label.form__label(for="phone") Phone
                    input.form__input(type="text" id="phone" name="phone" placeholder="Your phone number:")
                div.form__wrapper.form__wrapper_margin-bottom_27px
                    label.form__label(for="question") Email
                    input.form__input(type="text" id="question" name="question" placeholder="Your email")
                div.form__wrapper.form__wrapper_flex_column.form__wrapper_margin_none
                    input.form__button.form__button_order_1.button(type="button" value="submit")
                    div.form__wrapper.form__wrapper_order_0.form__wrapper_margin_68px
                        label.form__label.form__label_inline-flex(for="personalData") 
                            input.form__checkbox.form__checkbox_theme_custom-check(type="checkbox" id="personalData" checked)
                            span.form__span I agree to the processing of personal data