section.main__section.section-presentation
    div.section-presentation__wrapper
        div.section-presentation__info
            h1.section-presentation__header
                | Turnkey Repair in the 
                | city of #[span.section-presentation__name-city Rostov-on-Don]
            p.section-presentation__paragraph 
                | Get ready-made turnkey presentations on time
                | with work time saving up to 45 days and 20% from
                | cost of materials due to the organization of work
            div.section-presentation__buttons
                button.section-presentation__button.section-presentation__button_box-shadow_yellow.button Calculate the cost
                button.section-presentation__button.section-presentation__button_theme_application.button Submit your application
    img.section-presentation__img(src="../images/photo/1/1-large.png" height="707")