div.types-of-repair
    h2.types-of-repair__title.types-of-repair__title_theme_black.title Types of repair
    img.online-control__image(src="../images/svg/tools.svg" width="114" height="28")
    div.types-of-repair__card.card
        img.card__image(src="../images/photo/4/1.png")
        ul.card__list
            h2.card__title
            li.card__item Dismantling of old coatings
            li.card__item Wallpapering
            li.card__item Painting walls and ceilings
            li.card__item Laying flooring
            li.card__item Replacing plumbing
            li.card__item Replacing sockets and switches
            li.card__item Replacing doors
