section.types-of-repair
    h2.types-of-repair__title.types-of-repair__title_theme_black.title Types of repair
    img.online-control__image(src="../images/svg/tools.svg" width="114" height="28")
    div.types-of-repair__card.card
        img.card__image(src="../images/photo/4/1.png")
        div.card__wrapper
            h2.card__title Redecorating
            ul.card__list
                li.card__item Dismantling of old coatings
                li.card__item Wallpapering
                li.card__item Painting walls and ceilings
                li.card__item Laying flooring
                li.card__item Replacing plumbing
                li.card__item Replacing sockets and switches
                li.card__item Replacing doors
            div.card__price.text
                | from 900 rub / m2
    div.types-of-repair__card.card
        img.card__image(src="../images/photo/4/2.png")
        div.card__wrapper
            h2.card__title Overhaul
            ul.card__list
                li.card__item Dismantling of old coatings
                li.card__item Wallpapering
                li.card__item Painting walls and ceilings
                li.card__item Laying flooring
                li.card__item Replacing plumbing
                li.card__item Replacing sockets and switches
                li.card__item Replacing doors
            div.card__price.text
                | from 1800 rub / m2
    div.types-of-repair__card.card
        img.card__image(src="../images/photo/4/3.png")
        div.card__wrapper
            h2.card__title Designer Repair
            ul.card__list
                li.card__item Dismantling of old coatings
                li.card__item Wallpapering
                li.card__item Painting walls and ceilings
                li.card__item Laying flooring
                li.card__item Replacing plumbing
                li.card__item Replacing sockets and switches
                li.card__item Replacing doors
            div.card__price.text
                | from 4000 rub / m2
    section.types-of-repair__fantasies
        h2.types-of-repair__title.types-of-repair__title_margin_none.title We realize your wildest fantasies
        figure.types-of-repair__slider.slider
            img.slider__image(src="../images/photo/5/1.png" alt="Пример комнаты")
            button.slider__button.slider__button_theme_previous(type="button")
                img.slider__svg(src="../images/svg/previous-arrow.svg")
            button.slider__button.slider__button_theme_next(type="button")
                img.slider__svg(src="../images/svg/next-arrow.svg")

