footer.page__footer.footer
    div.footer__wrapper.wrapper
        a.footer__logo(href="#") IC "Repair Design Project"
        nav.footer__nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link.nav__link_active.link(href="#") HOME
                li.nav__item
                    a.nav__link.link(href="#") PROJECTS
                li.nav__item
                    a.nav__link.link(href="#") MEASUREMENT
                li.nav__item
                    a.nav__link.link(href="#") TEAM
                li.nav__item
                    a.nav__link.link(href="#") REVIEWS
                li.nav__item
                    a.nav__link.link(href="#") CONTACTS
        div.footer__contacts
            a.footer__tel(href="tel:+79287683239") +7 (928) 768-32-39
            button.footer__button.button(type="button") Request a call