header.page__header.header
    div.header__wrapper
        a.header__logo(href="#") IC "Repair Design Project"
        nav.header__nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link.nav__link_active.link(href="#") HOME
                li.nav__item
                    a.nav__link.link(href="#") PROJECTS
                li.nav__item
                    a.nav__link.link(href="#") MEASUREMENT
                li.nav__item
                    a.nav__link.link(href="#") TEAM
                li.nav__item
                    a.nav__link.link(href="#") REVIEWS
                li.nav__item
                    a.nav__link.link(href="#") CONTACTS
        div.header__contacts
            a.header__tel(href="tel:+79287683239") +7 (928) 768-32-39
            button.header__button.button(type="button") Request a call