extends ../layouts/templates/page-template.pug

block main
   main.page__main.main
      
      //- Turnkey Repair in the city of Rostov-on-Don
      include ../layouts/section-presentation.pug

      //- Completed Projects
      include ../layouts/completed-projects.pug

      //- Online control
      include ../layouts/online-control.pug

      //- Types of repair
      include ../layouts/types-of-repair.pug

      //- Points
      include ../layouts/points.pug

      //- Questions
      include ../layouts/questions.pug