extends ../layouts/templates/page-template.pug

block main
   main.page__main.main
      
      //- Turnkey Repair in the city of Rostov-on-Don
      include ../layouts/section-presentation.pug

      //- Completed Projects
      include ../layouts/completed-projects.pug

      //- Completed Projects
      include ../layouts/online-control.pug